.task-list-container {
    display: inline-block;
    height: initial;
    padding: 20px;
}

.tasks-list-title{
    font-family: "Bubblegum Sans";
    color: var(--font-color);
}

.edit-button {
    margin-left: 15px;
    margin-right: 5px;
}

.create-button {
    margin-left: 10px;
    margin-top: 10px;
}

.check-box {
    margin-right: 10px;
}

.my-button {
    border-radius: 20px;
    transition: all 0.2s;
    background-color: var(--color-button);
}

.my-button:hover {
    background-color: #1F2833;
    box-shadow:0 0.8em 0.8em -0.4em blue;
    transform: translateY(-0.25em);
}

.inline-block {
    display: inline-block;
}

.mat-list-item {
    font-family: "Bubblegum Sans";
    color: var(--font-color);
}

/* .horizental-line {
    border-bottom: 1px solid lightGrey;
    height: initial;
    margin: 20px 20px 10px 40px;
} */

/* .vertical-line {
    display: inline-block;
    border-left: 1px solid lightGrey;
    height: 300px;
    margin: 30px 10px 0px 0px;
} */