<div class="app-container">
  <h1 class="app-title">
    <!-- <img src="../assets/icon.png" width="17%" height="17%"> -->
    {{title}}
  </h1>
  <div class="components">
    <div class="projects-container">
      <!-- <div class="horizental-line"></div> -->
      <app-project-list></app-project-list>
    </div>
    <div class="vertical-line"></div>
    <div class="tasks-container">
      <!-- <div class="horizental-line"></div> -->
      <app-task-list></app-task-list>
    </div>
    <!-- <div class="jw-modal-background"></div> -->
  </div>
  <div class="buffer"></div>
  <footer>
      <p>© Dor Shamir ©</p>
      Contact: <a href="mailto:Dorshamir4@example.com">Dorshamir4@gmail.com</a>
  </footer>
</div>