<div class="app-container">
  <h1 class="app-title">
    {{title}}
    <label class="switch">
      <input type="checkbox" (click) = "toggleTheme()">
      <span class="slider round"></span>
    </label>
  </h1>
  <div class="components">
    <div class="projects-container">
      <app-project-list></app-project-list>
    </div>
    <div class="vertical-line" *ngIf="currentProjectId!=-1"></div>
    <div class="tasks-container">
      <app-task-list></app-task-list>
    </div>
  </div>
  <div class="buffer"></div>
  <footer>
      <p>© Dor Shamir ©</p>
      Contact: <a href="mailto:Dorshamir4@example.com">Dorshamir4@gmail.com</a>
  </footer>
</div>